MYSQL_URI=mysql+pymysql://user:password@mysql-host:3306/rental_db
RABBITMQ_URL=amqp://guest:guest@rabbitmq-host:5672/
RABBITMQ_EXCHANGE=rentals
RABBITMQ_ROUTING_KEY=rental.started
BIKE_SERVICE_URL=http://bike-service:8080